{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="#05070d">
<link rel="icon" type="image/svg+xml" href="{% static 'img/favicon.svg' %}">
<script>
    (function () {
        try {
            var t = localStorage.getItem('agria-theme');
            if (t) document.documentElement.setAttribute('data-theme', t);
        } catch (e) {}
    })();
</script>
<link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'vendor/icons/bootstrap-icons.css' %}">
<link rel="stylesheet" href="{% static 'css/agria.css' %}">
